<% provide(:title, @user.name) %>
<div class="container user-profile">
    <div class="row">



        


        <section class="col-md-12">
            <div class="">
                <a class="report button-blue">Report Abuse</a>
                <div class="gravatar">
                    <%= gravatar_for @user, size: 52 %>
                </div>
                <h1 class="name">
                    <%=  @user.name %>
                </h1>
            </div>

        </section>


        <section class="col-md-12  black-box">
                <p>Member since: <%= @user.created_at.to_time.strftime('%B %e, %Y at %l:%M %p') %></p>
                <p>Events Created: <%= @user.events.length %></p>


            <% if current_user.id == @user.id  %> 
                <%= link_to 'Edit User Details', edit_user_path(@user)  %>


            <% end %>


        </section>

        <section class="col-md-12 events-created">
            <h2>Events Created</h2>
            <div class="event-list">
                <% @user.events.each do |event| %>
                    <%= render :partial => "events/event", :locals => {:event => event} %>
                <% end %>
            </div>
        </section>




    </div>
</div>
