<% provide(:title, @user.email) %>
<div class="container">
    <div class="row">



        <section class="col-md-12">
            <a class="report-abuse button-blue">Report Abuse</a>


            <h1><%= gravatar_for @user %> <%= @user.name %></h1>
            



        </section>
        


        <section class="col-md-12 events-created">
            <h2>Events Created</h2>
            <div class="event-list">
                <% @user.events.each do |event| %>
                    <%= render :partial => "events/event", :locals => {:event => event} %>
                <% end %>
            </div>
        </section>




        <% if current_user.id == @user.id  %> 

            <section class="col-md-12 private">

                <hr />

                <h2>Private<h2>
                <h4>
                    e-mail: <%= current_user.email %>
                </h4>

                <div>
                   address: <%= current_user.address %>
                </div>

                
                <div>
                    latitude: <%= current_user.latitude %>
                </div>
                
                <div>
                    longitude:   <%= current_user.longitude%>
                </div>
                <%= link_to 'Edit User Details', edit_user_path(@user)  %>
            </section>
        <% end %>

    </div>
</div>
