<div class=" container">

	<div class="row">
		<div class="col-md-6 hero-unit">
			<h1>Forgot your password?</h1>

        <% flash.each do |name, msg| %>
            <div class="row">
                <div class="col-md-2"><p>&nbsp;</p></div>
                <%= content_tag :div, msg, id: "flash_#{name}", class: "#{name} col-md-6" %>
            </div>
        <% end %>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= devise_error_messages! %>


			<div class=" form-group">

			<div><%= f.label :email %><br />
			  <%= f.email_field :email, class: "form-control", placeholder: "Email"  %></div>
			</div>
			  

			  <div><%= f.submit "Send me reset password instructions", class: "btn btn-large btn-primary"%></div>
			<% end %>

			<hr/>
			<%= render "devise/shared/links" %>
		</div>

	</div>

</div>
