<div class="container  scaffold">
<div class="row">
<div class="col-md-12">

<h1>Listing event_activities</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_activities.each do |event_activity| %>
  <tr>
    <td><%= event_activity.name %></td>
    <td><%= event_activity.is_active %></td>
    <td><%= link_to 'Show', event_activity %></td>
    <td><%= link_to 'Edit', edit_event_activity_path(event_activity) %></td>
    <td><%= link_to 'Destroy', event_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event activity', new_event_activity_path %>

</div>
</div>
</div>