<div class="container">

	<h1>Events</h1>

	<div class="row ">

		<%= form_for @filterrific do |f| %>



		<div class="form-group">
		  <%= f.label "Search", class: "control-label col-md-1" %>
		  <div class="col-md-3">
		      <%= f.text_field :search_query, {:class => 'form-control col-md-3 filterrific-periodically-observed'} %>
		  </div>
		</div>


		<%= render_filterrific_spinner %>
		<% end %>



	</div>


	<%= render(
	  partial: 'events/listing',
	  locals: { events: @events }
	) %>

</div>