


<div class="container event-details top hero-unit">
    <div class="row">


	    <section class="col-md-12">
				<p id="notice"><%= notice %></p>

	    </section>



	    <section class="col-md-6 title">


			<div class="date">
				<%= @event.dayof.month %>/<%= @event.dayof.day%>
				
				<% if @event.end_date && @event.dayof != @event.end_date %>
					<hr />
					<%= @event.end_date.month %>/<%= @event.end_date.day%>
				<% end %>
			
			</div>
			<h1>  
				<%= @event.title %>
			</h1>


	    </section>
	    <section class="col-md-6">
	    		<div class="event-type">
				<% if @event.cat.downcase == "tournament" %>
		            <img src="/img/event_icons/tournament.png" alt="Tournament" class="type-image" />
		        <% elsif @event.cat.downcase == "view" %>
		            <img src="/img/event_icons/viewing_party.png" alt="Viewing Party" class="type-image" />
		        <% elsif @event.cat.downcase == "lan" %>
		            <img src="/img/event_icons/lan.png" alt="LAN" class="type-image" />
		        <% elsif @event.cat.downcase == "meetup" %>
		            <img src="/img/event_icons/meet_up.png" alt="Meet Up" class="type-image" />
		        <% else @event.cat.downcase == "other" %>
		            <img src="/img/event_icons/star.png" alt="Other" class="type-image" />
		        <% end %>
		        </div>
				<!-- <%= @event.cat %> -->


				<% if @event_activities %>
					<div class="activity">
						<% @event_activities.each do |event_activity| %>
							<%= image_tag event_activity.icon.url(:thumb) %>
						<% end %>
					</div>
				<% end %>
	    </section>

		<div class="col-md-6 pull-right">

		</div>
		<div class="col-md-6">

		</div>



	</div>

</div>

<div class="container event-details black-box">

	<div class="row ">
		<div class="col-md-9 ">

			<div class="content row">

			</div>

			<div class="content row">


				<div class="col-sm-4 event-image">
					<%= image_tag @event.image.url(:large) %>
				</div>
				<div class="col-md-8">
					<div id="page_body" class="mercury-region" data-type="editable" data-method="PUT"  data-mercury='full'>
					<%= @event.desc %> 


					</div>
				</div>
			</div>



		</div>





		<div class="col-md-3">
			<div class="content side-bar">


				<h4>Website</h4>
				<p>
					<% a = "https://" + @event.website.to_s%>
					<a href=<%=a %>  > <%= raw @event.website %> </a> 
				</p>

				<h4>Address</h4>
				<p>
					<%= @event.address %>
				</p>

				<% if @event.latitude == nil %>
					<p class="warning">Warning place will not appear  on gmap because invalid address<p>
					<%= link_to 'fix', edit_event_path(@event)  %>

				<% else %>

				<p>
					Latitude:
					<%= @event.latitude%>
				</p>
				<p>
					Longitude:
					<%= @event.longitude%>
				</p>

				<% end%>

				<% if current_user != nil %>
					<% if current_user.id.to_s == @event.user_id  %> 
				<hr />

						<%= link_to 'Edit Event Details', edit_event_path(@event)  %> |
						<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end%>
				<%end %>

				<hr />
				
				<p>
	        		<a class="report button-blue">Report Inappropriate Content</a>
	        	</p>

			</div>
		</div>
	</div>








				









</div>






