


<div class="container event-details top hero-unit">
    <div class="row">


	    <section class="col-md-12">
				<p id="notice"><%= notice %></p>

	    </section>



	    <section class="col-md-6 title">


			<div class="date">
				<%= @event.dayof.month %>/<%= @event.dayof.day%>
				
				<% if @event.end_date && @event.dayof != @event.end_date %>
					<hr />
					<%= @event.end_date.month %>/<%= @event.end_date.day%>
				<% end %>
			
			</div>
			<h1>  
				<%= @event.title %>
			</h1>


	    </section>
	    <section class="col-md-6">



				<% if @event_activities %>
					<div class="activity">
						<% @event_activities.each do |event_activity| %>
							<%= image_tag event_activity.icon.url(:thumb) %>
						<% end %>
					</div>
				<% end %>
	    </section>

		<div class="col-md-6 pull-right">

		</div>
		<div class="col-md-6">

		</div>



	</div>

</div>

<div class="container event-details black-box">

	<div class="row ">
		<div class="col-md-9 ">

			<div class="content row">

			</div>

			<div class="content row">

				<% if @event.image.exists? %>
					<div class="col-sm-4 event-image">
						<%= image_tag @event.image(:large) %>
					</div>
					<div class="col-md-8">
						<%= raw @event.description %> 
					</div>
				<% else %>
					<div class="col-md-12">
						<%= raw @event.description %> 
					</div>
				<% end %>
				

			</div>

			<% if @event.twitch_stream && @event.twitch_stream!= "" %>

				<div class="content row">
					<div class="col-md-12">
						<h2>Stream</h2>
						<%= raw @event.twitch_stream %> 
					</div>
				</div>

			<% end %>


		</div>





		<div class="col-md-3">
			<div class="content side-bar">


				<h4>Website</h4>
				<p>
					<% if @event.website.to_s != "" %>
						<% a = "https://" + @event.website.to_s%>
						<a href=<%=a %>  > <%= raw @event.website %> </a> 
					<% else %>
						No website provided
					<% end %>
					
				</p>

				<h4>Address</h4>
				<p>
					<% if @event.address != "" %>
						<%= @event.address %>
					<% else %>
						No address provided
					<% end %>
				</p>



				<h4>Age Restriction</h4>
				<p>
					<% if @event.age %>
						<%= @event.age.to_s %>
					<% else %>
						None
					<% end %>
				</p>


				<% if current_user != nil %>
					<% if current_user.id.to_s == @event.user_id  %> 
				<hr />

						<%= link_to 'Edit Event Details', edit_event_path(@event)  %> |
						<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end%>
				<%end %>

				<hr />
				
				<p>
	        		<a class="report button-blue">Report Inappropriate Content</a>
	        	</p>

			</div>
		</div>
	</div>








				









</div>






