
<%= form_for(@event_type) do |f| %>
  <% if @event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
      <% @event_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="container">

  <div class="form-group row">
      <%= f.label :name, "Name", class: "control-label col-md-2" %>
      <div class="col-md-3">
          <%= f.text_field :name, {:class => 'form-control col-md-3'} %>
      </div>
  </div>


  <div class="form-group row">
      <%= f.label :icon, "Icon", class: "control-label col-md-2" %>
      
      <div class="col-md-3 clear">
        <%= image_tag @event_type.icon.url(:thumb) %>
        <br />
        <%= f.file_field :icon %>
      </div>
  </div>

  <div class="form-group row">
      <%= f.label :is_active, "Is Active", class: "control-label col-md-2" %>
      <div class="col-md-3">
        <%= f.check_box(:is_active, { :checked => true }, :is_active, nil) %>
      </div>
  </div>
  <div class="form-group row">
      <div class="col-md-10 col-md-offset-2">
          <%= f.submit 'Create Event Type' ,   class: "btn btn-large btn-primary" %>
      </div>
  </div>


  </div>

<% end %>
