<div class="container  scaffold">
<div class="row">
<div class="col-md-12">

<h1>Listing event_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_types.each do |event_type| %>
  <tr>
    <td><%= event_type.name %></td>
    <td><%= event_type.is_active %></td>
    <td><%= link_to 'Show', event_type %></td>
    <td><%= link_to 'Edit', edit_event_type_path(event_type) %></td>
    <td><%= link_to 'Destroy', event_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event Type', new_event_type_path %>

</div>
</div>
</div>