<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event_type.name %>
</p>

<p>
  <b>Is active:</b>
  <%= @event_type.is_active %>
</p>


<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
